{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure                      {:mvn/version "1.11.0"}
  org.clojure/tools.logging                {:mvn/version "1.2.4"}
  dk.simongray/datalinguist                {:mvn/version "0.1.163"}
  edu.stanford.nlp/stanford-corenlp$models {:mvn/version "4.3.2"}
  com.novemberain/pantomime                {:mvn/version "2.11.0"}

  org.clojure/java.jdbc            {:mvn/version "0.7.12"}
  org.xerial/sqlite-jdbc           {:mvn/version "3.36.0.3"}
  com.github.seancorfield/honeysql {:mvn/version "2.2.891"}

  aleph/aleph {:mvn/version "0.5.0-rc2"}

  ring/ring-core          {:mvn/version "1.9.5"}
  ring/ring-devel         {:mvn/version "1.9.5"}
  ring-logger/ring-logger {:mvn/version "1.1.1"}
  metosin/reitit          {:mvn/version "0.5.18"}
  mount/mount             {:mvn/version "0.1.16"}
  hiccup/hiccup           {:mvn/version "1.0.5"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps  {cider/cider-nrepl {:mvn/version "0.28.4"}}
        :main-opts   ["-i" "src/legomenon/core.clj"
                      "-e" "(println \"kek\")"
                      "-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "-i"]}}}
