body {
    background-color: #2B093D;
    color: #C5B5D1;
    font-size: 21px;
    font-family: Sans-Serif;
}

.trash {
    text-decoration: line-through;
}

.known {
    color: green;
}


.memo {
    color: aqua;
}

.book-text {
    white-space: pre-line;
}

.dict-word {
    font-size: 30px;
}

.header-divider {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.swiping {
    border-color: aqua;
    border-width: 1px;
}


.playground {
    /* background-color: black; */
    /* height: 500px; */
    /* width: 700px; */
}
